
/* === Base === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    color: #000000;
    background-color: #707070;
    scroll-behavior: smooth;
}

#logo{
    font-family: 'Arial Black', sans-serif;
}
.titre{
    font-family: "calibri", sans-serif, 900;
}

/* === Navbar === */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: background 0.3s;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

#logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration-color: #ffffff;
    font-weight: 500;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #0400ff;
}